extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Kingsley Emeka

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | I am a web developer who is passionate about developing and maintaining high scalable applications that do not only provide engaging, compelling and dynamic user experience but also improve and change the way users interact with application and companies interact with their client.
             
            | As a result of my Full-Stack JavaScript Techdegree Online course, I have improved my programming, technical and problem-solving skills and utilized self-study not only in solving programming related problems but also in writing clean codes which absorbs solid logic.

            | Continual education to expand my knowledge in the area of software architectures and programming, keeping up with the latest technology trends are both very important to me and working with technology gives me professional fulfilment.

        
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

       
        ul
          li JavaScript
          li Node js
          li Express
          li React
          li Typescript
          li MongoDB
          li PostgreSQL
          li MySQL
          li HTML
          li CSS
          li Jest
          li jQuery
          li Source Control(GitHub,Git)
        h6 Contact Info

        
        ul
          li +491781326201
          li kingchuks@hotmail.com

        a.button.expanded(href='https://www.linkedin.com' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/kizto86' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  