extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Kingsley Emeka

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            |  Am a master’s degree holder in the field of  web engineering. I am passionate about   develop and maintain web applications that does not only provide engaging, compelling and dynamic user experience but also improve and change the way users interact with web applications and companies interact with their clients. 
             
            | Currently am doing a Full stack JavaScript certification course at  teamtreehouse,  at the end of this course my goal is to become a developer that solves problems using clean, semantic code and solid logic while creating interactive web experience that inspire and engage users.. .
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

       
        ul
          li Express
          li PHP
          li JavaScript
          li HTML/CSS
          li Node.js
          li React
          li Basic Testing
          li Databases
          li jQuery
          li Source Control(GitHub,Git)
        h6 Contact Info

        
        ul
          li 555-555-1234
          li kingchuks@hotmail.com

        a.button.expanded(href='https://www.linkedin.com' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/kizto86' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  