extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

     
      h1 Making the web interactive and faster.
        

      p.lead.text-light
        | This portfolio show case the projects, learning curve and knowledge gain during my JavaScript full stack programming certification at team tree house. Each project empowered me with new skills, problem to solve and an environment to put into practice the knowledge gained both in the area of frontend and backend development. This portfolio is also part of the projects done.  
        
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Use the Pug `each` iterator to create a project img, title and link in the markup for each of the projects you are showcasing.  
      
      //- Use a combination of interpolation and template literals as needed to dynamically generate the the routes in the href, as well as the img's src and the projects title.
      
      //- Here's what the Pug for each project example should look like. 
      each project in projects 
              .cell
                a(href=`projects/${project.id}`)
                  img.thumbnail(src=`/${project.image_url[0]}`)
                  h5= project.project_name
          
         
      
